Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

n pandas, a DataFrame is a two-dimensional labeled data structure that can be thought of as a table or a spreadsheet. It consists of rows and columns, where each column can contain different data types. A DataFrame provides a convenient way to organize, manipulate, and analyze tabular data.

On the other hand, a Series is a one-dimensional labeled array in pandas. It represents a single column of data within a DataFrame. A Series can be seen as a single column extracted from a DataFrame. It maintains an associated index, which provides a label for each element in the Series.

In [6]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


df.head()
df.info()
df.describe()

df.sort_values()

df.tail(3)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the given options, both Series and DataFrame are mutable in nature in pandas.

A Series can be modified after creation by assigning new values to specific indices or by applying various operations or transformations on the Series.

Similarly, a DataFrame is mutable and can be modified by adding or removing columns, updating values, or performing operations on the DataFrame.

On the other hand, the Panel object in pandas has been deprecated since version 0.20.1 and is no longer recommended for use. It has been replaced by more flexible and efficient MultiIndex objects, such as the MultiIndex DataFrame.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can pass the Series as a dictionary to the pd.DataFrame() function

In [8]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female